[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyter = "*"
qiskit = "*"
pylatexenc = "*"
matplotlib = "*"
qiskit-aer = "*"

[dev-packages]

[requires]
python_version = "3.9"
